:root {
    --bg-color: rgb(30, 30, 30);

    --white: white;
    --gray: rgb(100, 100, 100);
    --red: rgb(199, 54, 54);
    --blue: rgb(72, 117, 240);
    --orange: rgb(200, 141, 46);
    --purple: rgb(155, 84, 206);

    --padding: 10px
}

* {
    color: var(--white);

    font-family: monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    
    margin: 0;
    border-radius: 0;
}

body, button, input {
    background-color: var(--bg-color);
}

div.content {
    padding: var(--padding);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.content > div {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

p {
    white-space: pre;
}

h2 {
    margin-bottom: 1rem;
    text-align: center;
}

input {
    width: calc(100% - 4px - 10px);
    margin: 5px 0;
    padding: 5px;
    border: 2px solid var(--gray);
}

input::placeholder {
    color: var(--gray);
}

.ascii {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    filter: drop-shadow(0 0 0 black);
    transition: all 0.5s;
    width: fit-content;
}

div.cards {
    display: flex;
    flex-wrap: wrap;
}

div.card {
    padding: 7px;
    transition: all 0.5s;
}

.ascii:hover {
    filter: drop-shadow(2px 2px 0 black);
}

div.card:hover {
    transform: scale(1.1) rotate(2deg);
}

div.card:active {
    transform: scale(1.2) rotate(0);
}

button:hover {
    color: var(--blue);
}

::selection {
    background-color: var(--orange);
}

p.intro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden, body:not(.intro) p.intro, body.intro div.content {
    display: none;
}

label {
    color: var(--gray);
}

.gray, gray { color: var(--gray) }
.red, red { color: var(--red) }
.blue, blue { color: var(--blue) }
.orange, orange { color: var(--orange) }
.purple, purple { color: var(--purple) }